/* .main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
} */
.product-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product-image-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-image-item img {
    max-width: 100%;
    height: auto;
}

.product-mockup-frame {
    position: relative;
}

.product-sticker {
    position: absolute;
    top: 20%; /* Adjust the placement as needed */
    left: 20%; /* Adjust the placement as needed */
    max-width: 60%; /* Adjust the sticker size as needed */
    z-index: 1; /* Ensure the sticker appears above the frame */
}
.product-sticker1 {
    position: absolute;
    top: 38%; /* Adjust the placement as needed */
    left: 35%; /* Adjust the placement as needed */
    max-width: 30%; /* Adjust the sticker size as needed */
    z-index: 1; /* Ensure the sticker appears above the frame */
}
.product-sticker2 {
    position: absolute;
    top: 30%; /* Adjust the placement as needed */
    left: 30%; /* Adjust the placement as needed */
    max-width: 40%; /* Adjust the sticker size as needed */
    z-index: 1; /* Ensure the sticker appears above the frame */
}
.brand-name img {
    width: 50px;
    height: 50px;
}
.container-fluied {
    width: 100%;
}

.navbar-collapse {
    width: 100%;
}

.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: rgb(255, 192, 203);
    font-size: 14px;
}

/* .main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    } */
/*
} */
/* Category Start */
.category-card {
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}

.category-card a {
    text-decoration: none;
}

.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.category-card .category-card-body {
    padding: 10px 16px;
}

.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* Category End */
/* Product Card */
.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

.product-card a {
    text-decoration: none;
}

.product-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}

.product-card .product-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.product-card .product-card-img img {
    width: 100%;
}

.product-card .product-card-body {
    padding: 10px 10px;
}

.product-card .product-card-body .product-brand {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-card .product-card-body .product-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-card .product-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}

.product-card .product-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}

.product-card .product-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}

/* Product View */
.product-view .product-name {
    font-size: 24px;
    color: #ffc0cb;
}

/* .card-header{
    border: #fc7fb2;
} */

.product-view .product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}

.product-view .product-path {
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}

.product-view .selling-price {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}

.product-view .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}

.product-view .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}

.product-view .btn1:hover {
    background-color: #2874f0;
    color: #fff;
}

.product-view .input-quantity {
    border: 1px solid #000;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 2px;
    width: 58px;
    outline: none;
    text-align: center;
}

/* Product View */

.services {
    position: relative;
}

.services .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.services .box-container .box {
    overflow: hidden;
    height: 23rem;
    /* width: 10rem; */
    flex: 1 1 20rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.heading {
    text-align: center;
}

.services .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .box-container .box .info {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .box-container .box .info h3 {
    font-size: 3rem;
    color: #fff;
    transform: translateY(5rem);
    opacity: 0;
}

.services .box-container .box:hover .info {
    top: 0%;
}

.services .box-container .box:hover .info h3 {
    transform: translateY(0rem);
    opacity: 1;
    transition-delay: 0.2s;
}
.round img {
    border-radius: 100%;
}
.comment-box {
    width: 50%;
}
.colorSelectionLabel {
    color: #000;
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.colorSelectionLabel active {
    background-color: #fff !important;
    border: 2px solid #000;
}

/* Cart or Wishlist */
.shopping-cart .cart-header {
    padding: 10px;
}

.shopping-cart .cart-header h4 {
    font-size: 18px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: bolder;
}
.card-header h4 {
    color: #3d292c;
}
.shopping-cart .cart-item a {
    text-decoration: none;
    color: #ffc0cb;
}
/* Add this to your stylesheet */
.image-container {
    position: relative;
    overflow: hidden;
}

.image-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 120vw; /* Increase the maximum width to make the image larger */
    max-height: 150vh;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image-popup {
    display: block;
    opacity: 1;
}

.image-popup img {
    max-width: 100%;
    max-height: 100%;
}

.shopping-cart .cart-item {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.3rem rgba(90, 87, 87, 0.89);
    padding: 10px 10px;
    margin-top: 10px;
}

.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #ffc0cb;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
    color: #1a1112;
    font-weight: bolder;
}

.shopping-cart .cart-item img {
    height: 100px;
    width: 100px;
}

.shopping-cart .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}

.remove button {
    box-shadow: inset 0px 39px 0px -24px #ffc0cb;
    background: linear-gradient(to bottom, #ffc0cb 5%, #ffc0cb 100%);
    background-color: #ffc0cb;
    border-radius: 4px;
    border: 1px solid #ffc0cb;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffc0cb;
}

/*  */
.shopping-cart .btn1:hover {
    background-color: #937979;
    color: #fff;
}

.shopping-cart .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}

/* Cart or Wishlist */
.checkout .form-control {
    border-radius: 0px !important;
}

.checkout .form-control:focus {
    border: 1px solid #000 !important;
    box-shadow: none !important;
}

.checkout .nav-link {
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
}

.checkout .tab-content {
    padding-right: 10px;
}

.checkout h4 {
    color: #fc7fb2;
}

.checkout button {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #fc7fb2;
}

/* }
fc7fb2 */
.footer-area {
    padding: 10px 0px;
    background-color: #fdc7ce;
    color: #fff;
}

.footer-area a {
    text-decoration: none;
}

.footer-area .footer-heading {
    font-size: 24px;
    color: #fff;
}

.footer-area .footer-underline {
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}

.copyright-area {
    padding: 14px 0px;
    background-color: #262626;
}

.copyright-area p {
    margin-bottom: 0px;
    color: #fff;
}

.copyright-area .social-media {
    text-align: end;
}

.copyright-area .social-media a {
    margin: 0px 10px;
    color: #fff;
    width: 20px;
}

#prouduct_btn {
    box-shadow: inset 0px 39px 0px -24px #ffc0cb;
    background: linear-gradient(to bottom, #ffc0cb 5%, #ffc0cb 100%);
    background-color: #ffc0cb;
    border-radius: 4px;
    border: 1px solid #ffc0cb;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffc0cb;
}

#prouduct_btn:hover {
    background: linear-gradient(to bottom, #ffc0cb 5%, #ffc0cb 100%);
    background-color: #ffc0cb;
}

#prouduct_btn:active {
    position: relative;
    top: 1px;
}

#product_span {
    /* box-shadow:inset 0px 39px 0px -24px #ffc0cb;
	background:linear-gradient(to bottom, #ffc0cb50 5%, #ffc0cb4e 100%); */
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffc0cb;
    display: inline-block;
    cursor: pointer;
    color: #382828;
    font-family: Arial;
    font-size: 10px;
    padding: 4px 10px;
    /* margin: auto; */
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffc0cb;
}

#product_input {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffc0cb;
    display: inline-block;
    cursor: pointer;
    color: #382828;
    font-family: Arial;
    font-size: 10px;
    padding: 4px 3px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffc0cb;
}

.product-name a {
    color: #ffc0cb;
}

.product-name a:hover {
    color: #171313;
}

.zoom {
    padding: 50px;

    transition: transform 0.2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

/* # Hero Styles */

-----------------------------------------------------------------------------
    */
    .hero-bg {
    background-image: url("../images/bg_bggenerator_com.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-btns {
    background-image: url("../images/bg_bggenerator_com.png");
}

.hero-text {
    display: table;
    height: 100%;
}

.hero-text-tablecell {
    display: table-cell;
}

.hero-area {
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 50px;
}

html,
body {
    height: 100%;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #ffc0cb;
    z-index: -1;
    opacity: 0.6;
    background-image: url("../images/bg_bggenerator_com.png");
}

.hero-text p.subtitle {
    color: #2f2f2f;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
}

.hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
    color: #090909;
}

.hero-area div {
    height: 100%;
}

.hero-area div.hero-text {
    height: 100%;
    width: 100%;
}

.hero-area div.hero-text-tablecell {
    height: auto;
    vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
    height: auto;
    vertical-align: middle;
}

.hero-btns {
    margin-top: 35px;
}

.hero-btns a.bordered-btn {
    margin-left: 15px;
}

/* # List Styles

  ----------------------------------------------------------------------------- */
.list-section {
    background-color: #ffffff;
    padding: 100px;
}
.list-section .section-title {
    margin-bottom: 50px;
    margin-top: -20px;
    color: #ffc0cb;
}
.product-area .section-title {
    margin-bottom: 50px;
    margin-top: -20px;
    color: #ffc0cb;
}
/*  */
.list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
}

.list-box .content h3 {
    display: block;
    line-height: 22px;
    font-size: 22px;
    margin-bottom: 4px;
}

.list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
}

.list-box .list-icon i {
    display: block;
    font-size: 27px;
    margin-right: 15px;
    color: #d86f8b;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #d86f8b dotted;
    border-radius: 999px;
}

.single-product-item {
    margin-bottom: 30px;
}

.product-image {
    padding: 30px;
    padding-bottom: 0;
}

.product-image img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.single-product-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

p.product-price {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.product-price span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
}

a.cart-btn {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-color: #f28123;
    color: #fff;
    padding: 10px 20px;
}

a.cart-btn i {
    margin-right: 5px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contact-form-wrap {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.contact-form-box {
    margin-bottom: 15px;
}

.contact-form-box h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form-box p {
    font-size: 14px;
    line-height: 1.4;
}

.fas,
.far {
    margin-right: 8px;
}

.product-section {
    padding: 50px;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.bg-bg {
    background-image: url("../images/pxfuel.jpg");
    background-color: #ffc0cb;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
}
.bg-bg1 {
    background-image: url("../images/par4.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
}
.btn_d {
    background-color: #ffc0cb;
    border: 1px solid white;
}
.btn_c {
    background-color: #ffc0cb;
    border: 1px solid white;
    font-size: 20px;
}
.btn_a {
    border: 1px solid white;
    font-size: 20px;
    padding: 17 15;
}
.customiz-form {
    margin: 50 50 0;
    font-size: larger;
    margin-bottom: 50px;
    width: 80%;
}
.customiz-form1 {
    font-size: 30px;
}
/* Add this to your CSS */
/* Add this to your CSS */
.color-filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the spacing between filters */
}

.color-filter {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color-filter.selected {
    border: 2px solid #333; /* Add a border to selected colors */
}

.color-filter input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}
